In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.io import readsav

In [2]:
# reading phycon.sav file
phycon_data = readsav('phycon.sav')
phycon_data

{'tko': 273.15,
 'po': 100000.0,
 'r': 8.3144,
 'rd': 287.05,
 'rv': 461.51,
 'epsilon': 0.622,
 'cpd': 1005.2,
 'cpv': 1870.4,
 'cl': 4218.0,
 'ci': 2106.0,
 'lvo': 2500800.0,
 'lso': 2834500.0,
 'g': 9.81}

In [3]:
# reading the sounding data in which pressure, temperature and height data are in.
sounding_data = pd.read_csv('20220912_1655.csv',  encoding= 'unicode_escape')
sounding_data

,Time [sec],P [hPa],T [°C],Hu [%],Ws [m/s],Wd [°],Ws U [m/s],Ws V [m/s],Alt [m],Lon [°],Lat [°],Dew [°C]
0,0,787.0,21.6,22,0.0,0,0.0,0.0,2200,-105.581200,41.313200,9.6
1,1,786.4,21.2,21,0.1,3,0.0,-0.1,2207,-105.581183,41.313182,-1.7
2,2,785.8,20.9,21,0.1,3,0.0,-0.1,2214,-105.581167,41.313165,-2.5
3,3,785.2,20.5,20,0.2,3,0.0,-0.2,2221,-105.581150,41.313147,-3.2
4,4,784.5,20.1,19,0.3,3,0.0,-0.3,2227,-105.581133,41.313129,-4.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6086,6086,534.8,-6.5,999999,5.6,341,1.8,-5.3,5390,-105.295032,40.994513,999999.0
6087,6087,535.7,-6.4,999999,5.7,340,1.9,-5.4,5378,-105.295006,40.994464,999999.0
6088,6088,536.5,-6.4,999999,5.7,339,2.0,-5.3,5366,-105.294981,40.994416,999999.0
6089,6089,537.3,-6.3,999999,5.7,339,2.1,-5.3,5354,-105.294955,40.994368,999999.0
6090,6090,538.1,-6.2,999999,5.7,338,2.1,-5.3,5342,-105.294929,40.994320,999999.0

In [9]:
len(sounding_data)

6091

# Extracting pressure, temperature and height data from sound data

In [ ]:
extracted_data =

In [10]:
# sounding_data['P [hPa]'][0], sounding_data.iloc[0:1, 1][0]

In [17]:
# for isothermal model
zo = sounding_data['Alt [m]'][0] #2200
Rd = phycon_data['rd']
To = sounding_data['T [°C]'][0] + phycon_data['tko']
go = phycon_data['g']
p_zo = sounding_data['P [hPa]'][0] #787.0
p_z1 = 786.4

# calculation
z = zo + ( (Rd*To / go) ) * ( np.log(p_zo/sounding_data['P [hPa]']) )
z

0       2200.000000
1       2206.577858
2       2213.160736
3       2219.748643
4       2227.440899
           ...
6086    5532.014369
6087    5517.512356
6088    5504.642117
6089    5491.791055
6090    5478.959113
Name: P [hPa], Length: 6091, dtype: float64

In [16]:
for i in range(0, 6092):
#     print(i)
    pass

In [19]:
# a = [1,2,3,4,5]
# len(a)